@use "../../styles/variables" as *;

/* ABOUT HERO SECTION */
.about__hero {
  height: 50vh;
  background-color: var(--peach);
  border-radius: 15px;
  display: flex;
  margin-top: 2rem;

  .about__content {
    color: var(--white);
    width: 60%;
    padding: 6rem 4rem 6rem 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 1rem;
    h1 {
      font-size: var(--h1-font-size);
      font-weight: var(--font-weight-regular);
      line-height: map-get($map: $text-line-height, $key: h1);
      z-index: 1;
    }

    p {
      line-height: map-get($map: $text-line-height, $key: p);
      font-size: var(--p-font-size);
      z-index: 1;
    }

    .about__background {
      z-index: 0;
      position: absolute;
      left: 70px;
      top: -160px;
      height: 140%;
    }
  }

  .hero__img {
    background-image: url(../../assets/about/desktop/image-about-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

/* ABOUT INFORMATION SECTION */

.information {
  height: 65vh;
  background-color: var(--background-grey);
  display: flex;
  border-radius: 15px;
  align-items: center;

  .information__img {
    background-image: url(../../assets/about/desktop/image-world-class-talent.jpg);
    height: 100%;
    background-repeat: no-repeat;
    width: 45%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
  }

  .information__text {
    width: 55%;
    height: 100%;
    padding: 8rem 5.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;

    h2 {
      font-size: var(--h2-font-size);
      font-weight: var(--font-weight-medium);
      line-height: map-get($map: $text-line-height, $key: h2);
      z-index: 1;
      color: var(--peach);
    }

    p {
      color: var(--dark-grey);
    }

    .information__text-background {
      position: absolute;
      bottom: 0;
      left: -160px;
      z-index: 0;
    }
  }
}

/* ABOUT SECTION LOCATIONS */

.locations {
  height: 50vh;
  display: flex;
  justify-content: space-between;

    .canada:after{
        transform: rotate(90deg); /* rotation */
    }
    .australia:after{
        transform: rotate(0deg); /* rotation */
    }
    .unitedKingdom:after{
        transform: rotate(-90deg); /* rotation */
    }

  button{
            background-color: var(--peach);
            color: var(--white);
            text-transform: uppercase;
            font-weight: var(--font-weight-medium);
            font-family: var(--font-family);
            width: fit-content;
            border: none;
            border-radius: 8px;
            letter-spacing: 1px;
            height: 56px;
            width: 152px;
            cursor: pointer;
  }
}

.objective {
  height: 60vh;
  background-color: var(--background-grey);
  display: flex;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 25rem;

  .objective__content {
    width: 55%;
    height: 100%;
    padding: 8rem 5.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;

    .objective__text-background {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    h2 {
      font-size: var(--h2-font-size);
      font-weight: var(--font-weight-medium);
      line-height: map-get($map: $text-line-height, $key: h2);
      z-index: 1;
      color: var(--peach);
    }

    P {
    }
  }

  .objective__img {
    background-image: url(../../assets/about/desktop/image-real-deal.jpg);
    width: 45%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
