@use "../../styles/indeX" as *;

/* ABOUT HERO SECTION */
.about__hero {
  height: 50vh;
  background-color: var(--peach);
  border-radius: 15px;
  display: flex;
  margin-top: 2rem;

  .about__content {
    color: var(--white);
    width: 60%;
    padding: 6rem 4rem 6rem 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 1rem;
    h1 {
      font-size: var(--h1-font-size);
      font-weight: var(--font-weight-regular);
      line-height: map-get($map: $text-line-height, $key: h1);
      z-index: 1;
    }

    p {
      line-height: map-get($map: $text-line-height, $key: p);
      font-size: var(--p-font-size);
      z-index: 1;
    }

    .about__background {
      z-index: 0;
      position: absolute;
      left: 70px;
      top: -160px;
      height: 140%;
    }
  }

  .hero__img {
    background-image: url(../../assets/about/desktop/image-about-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}