@use "../../styles/variables" as *;

/* ABOUT INFORMATION SECTION */

.information {
  height: 65vh;
  background-color: var(--background-grey);
  display: flex;
  border-radius: 15px;
  align-items: center;

  .information__img {
    background-image: url(../../assets/about/desktop/image-world-class-talent.jpg);
    height: 100%;
    background-repeat: no-repeat;
    width: 45%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
  }

  .information__text {
    width: 55%;
    height: 100%;
    padding: 8rem 5.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;

    h2 {
      font-size: var(--h2-font-size);
      font-weight: var(--font-weight-medium);
      line-height: map-get($map: $text-line-height, $key: h2);
      z-index: 1;
      color: var(--peach);
    }

    p {
      color: var(--dark-grey);
    }

    .information__text-background {
      position: absolute;
      bottom: 0;
      left: -160px;
      z-index: 0;
    }
  }
}