@use "../../styles/index" as *;

.location {
  height: fit-content;
  margin: 2rem 0 25rem 0;

  @include for-tablet-up {
    margin-bottom: 40rem;
    gap: 2rem;
  }
}

.location__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.location__card {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  border-radius: 15px;
  gap: 2rem;
  position: relative;

  @include for-tablet-up {
    height: fit-content;
    flex-direction: column;
  }

  .location__img-container {
    height: 100%;
    border-radius: 15px;

    @include for-tablet-up {
      order: 1;
      height: 50%;

      width: 100%;
    }

    .location__img {
      height: 100%;
      border-radius: 15px;
      @include for-tablet-up {
        width: 100%;
      }
    }
  }
}

.location__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-grey);
  padding: 4rem;
  border-radius: 15px;
  position: relative;
  @include for-tablet-up {
    order: 2;
  }
  h2 {
    @include h2-styling(var(--peach));
  }

  .location__info-container {
    display: flex;

    align-items: center;
    gap: 5rem;
    height: 100%;

    @include for-tablet-up {
      height: 50%;
      width: 100%;
    }

    p {
      display: flex;
      justify-content: space-between;
      font-size: var(--p-font-size);
      line-height: map-get($map: $text-line-height, $key: p1);
    }

    .location__header {
      font-weight: var(--font-weight-medium);
    }
  }
}
.location__text-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: 0;
}

.location__card:nth-child(2) {
  flex-direction: row-reverse; // or tweak grid-template-areas
  @include for-tablet-up {
    flex-direction: column;
  }
}
