@use "../../styles/index" as *;

/* DETAILS SECTON STYLING */

.details {
  display: flex;
  gap: 2rem;
  height: 60vh;

  @include for-tablet-up {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.details__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

   @include for-tablet-up {
     
    text-align: left;
 
    flex-direction: row;
    gap: 2rem;
  }

  &-img {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../assets/shared/desktop/bg-pattern-small-circle.svg);
      background-size: cover;
      transform-origin: center; /* rotate around the center */
      z-index: -1;
    }
  }

  .friendly-img:after {
    transform: rotate(90deg); /* rotation */
  }
  .resourceful-img:after {
    transform: rotate(-90deg); /* rotation */
  }
  .passion-img:after {
    transform: rotate(0deg); /* rotation */
  }

  h3 {
    text-transform: uppercase;
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-medium);
    letter-spacing: map-get($map: $letter-spacing, $key: h3);
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-regular);
  }
}
