@use "../../styles/index" as *;

/* HERO SECTION STYLING */

.hero {
  margin-top: 2rem;
  height: 65vh;
  background-color: var(--peach);
  border-radius: 0.938rem;
  display: flex;
  overflow: hidden;

  @include for-tablet-up {
    height: 100vh;

    align-items: center;
    flex-direction: column;
  }

  @include for-mobile-up {
    margin-top: 0;
    border-radius: 0;
  }

  &__content {
    color: var(--white);
    width: 70%;
    padding: 8rem 0rem 8rem 6rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @include for-tablet-up {
      padding: 0rem;
      width: 100%;
    }

    &-heading {
      @include h1-styling;

      @include for-tablet-up {
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 5rem;
      }

      @include for-mobile-up {
        width: 60%;
      }
      @media (max-width: 450px) {
        width: 80%;
      }
    }

    &-text {
      line-height: map-get($map: $text-line-height, $key: p);
      font-size: var(--p-font-size);
      @include for-tablet-up {
        text-align: center;
        width: 60%;
        margin: auto;
      }

      @media (max-width: 450px) {
        width: 80%;
      }
    }

    &-btn {
      @include white-btn();

      @include for-tablet-up {
        text-align: center;

        margin: auto;
      }
    }
  }

  &__img {
    height: 100%;
    background-repeat: no-repeat;
    width: 50%;
    z-index: 0;
    position: relative;

    &-background {
      height: 100%;
      width: 120%;
      left: -110px; /* adjust horizontal positioning */
      z-index: 1; /* behind the phone */
      position: absolute;

      @include for-tablet-up {
        left: 280px;
        top: -320px;
        width: 80%;
        height: 120%;

        @include for-mobile-up {
          left: 0px;
          top: -220px;
          width: 120%;
          height: 120%;
        }
      }
    }

    &-phone {
      top: -20px;
      position: relative;
      z-index: 2;

      @include for-tablet-up {
        top: -100px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
      }

      @include for-mobile-up {
        top: -100px;
        left: 0;
        right: 0;
        margin: auto;
        height: 60rem;
        width: 100%;
      }

      @media (max-width: 450px) {
        width: 130%;
        left: -15%;
      }
    }

    @include for-tablet-up {
      padding: 0rem;
      width: 100%;
    }
  }
}
