@use "../../styles/index" as *;

.design__card {
  border-radius: 15px;
  background-color: var(--background-grey);
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    max-height: 60%;
    width: 100%;
  }

  .design__text {
    padding: 2rem;
    h3 {
      text-transform: uppercase;

      @include h3-styling(var(--peach));
    }

    p {
      @include p-styling(var(--dark-grey));
    }
  }

  &:hover {
    background-color: var(--peach);

    h3 {
      text-transform: uppercase;

      @include h3-styling(var(--white));
    }

    p {
      @include p-styling(var(--white));
    }
  }
}
