@use "../../styles/variables" as *;

.design__card {
  border-radius: 15px;
  background-color: var(--background-grey);
  text-align: center;
  img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    max-height: 60%;
    width: 100%;
  }

  .design__text {
    padding: 2rem;
    h3 {
      color: var(--peach);
      text-transform: uppercase;
      font-size: var(--h3-font-size);
      font-weight: var(--font-weight-medium);
      letter-spacing: map-get($map: $letter-spacing, $key: h3);
    }

    p {
      font-size: var(--p-font-size);
      font-weight: var(--font-weight-regular);
    }
  }
}
