@use "../../styles/index" as *;

.contact {
  background-color: var(--peach);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 18rem;
  transform: translateY(-250px);
  border-radius: 15px;
  overflow: hidden;
  padding: 4rem;

  @include for-tablet-up {
    text-align: center;
    
    gap: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    
  }

  .contact__content {
    color: var(--white);
    width: 50%;

    h2 {
      @include h2-styling(var(--white));
      width: 70%;
      margin-bottom: 1rem;

      @include for-tablet-up {
        width: 100%;
      }
    }

    p {
      @include p-styling(var(--white));
    }
  }

  .contact__background {
    z-index: 1;
    position: absolute;
    right: 0;
  }

  .contact__btn-styling {
    @include white-btn();
    z-index: 2;
  }

  @include for-tablet-up {
    width: 100%;
  }
}
