@use "../../styles/variables" as *;

.contact {
  background-color: var(--peach);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -80px;
  left: 50%;
  width: 1110px;
  height: 18rem;
  border-radius: 15px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 4rem;

  .contact__content {
    color: var(--white);
    width: 50%;

    h2{
        font-size: var(--h2-font-size);
        line-height: map-get($map: $text-line-height, $key: h2 );
        letter-spacing: map-get($map: $letter-spacing, $key: h2);
        font-weight: var(--font-weight-medium);
        width: 70%;
        margin-bottom: 1rem;
    }

    p{
        font-size: var(--p-font-size);
        font-weight: var(--font-weight-regular);
    }
  }

  .contact__background {
    z-index: 1;
    position: absolute;
    right: 0;
  }

  .contact__btn-styling {
    background-color: var(--white);
    text-transform: uppercase;
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family);
    width: fit-content;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
    height: 56px;
    width: 152px;
    cursor: pointer;
    z-index: 2;
  }
}
