@use "../../styles/index" as *;

.nav {
  width: 40%;

  @include for-tablet-up {
    width: 55%;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  .nav__item {
    position: relative;

    .nav__link {
      color: var(--black);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: map-get($letter-spacing, h2);
    }

    .nav__link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--dark-grey);

      /* Hiding via transform instead of display */
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }

    .nav__link:hover::after {
      transform: scaleX(1);
    }

    .nav__link:hover::after,
    .nav__link.active::after {
      transform: scaleX(1);
    }
  }
}
