@use "../../styles/index" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem;

  @include for-mobile-up {
    padding: 2rem 2rem;

    .logo {
      height: 2.5rem !important;
      img {
        height: 100%;
      }
    }
  }

  .logo {
    height: 1.6rem;
    img {
      height: 100%;
    }
  }
}
