@use '../../styles/variables' as * ;

/*  FOOTER NAV STYLING*/

.navbar--footer {
    width: 40%;
    .nav__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        .nav__item{

            .nav__link{
                color: var(--white);
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: map-get($letter-spacing, h2);
            }
        }
    }
}