@use '../../styles/variables' as * ;


.footer{
    background-color: var(--black);
     padding-top: 5rem;
     position: relative;

    .footer__content{
        border-top: 1px solid var(--light-grey);
        display: flex;
        justify-content: space-between;
    }

 
}   

.footer-container{
          max-width: 1110px;        
          margin: 0 auto; 
    }
