@use "../../styles/index" as *;

/*  FOOTER NAV STYLING*/

.navbar--footer {
  width: 40%;

  @include for-tablet-up {
    width: 55%;
  }
  @include for-mobile-up {
    width: 100% !important;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @include for-mobile-up {
      border-top: 1px solid var(--lightest-grey);
      flex-direction: column;
      margin-top: 2rem;
      padding: 0;
      width: 100% !important;
      padding-top: 1rem;
    }

    .nav__item {
      @include for-mobile-up {
        margin-top: 2rem;
      }
      .nav__link {
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: map-get($letter-spacing, h2);
      }

      .nav__link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: var(--white);

        /* Hiding via transform instead of display */
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }

      .nav__link:hover::after {
        transform: scaleX(1);
      }

      .nav__link:hover::after,
      .nav__link.active::after {
        transform: scaleX(1);
      }
    }
  }
}
