@use "../../styles/index" as *;

/* ABOUT SECTION LOCATIONS */

.locations {
  height: 50vh;
  display: flex;
  justify-content: space-between;

  @include for-tablet-up {
    flex-direction: column;
    margin-bottom: 35rem;
    gap: 3rem;

    .details__content {
      flex-direction: column;
    }
  }

  .canada:after {
    transform: rotate(90deg); /* rotation */
  }
  .australia:after {
    transform: rotate(0deg); /* rotation */
  }
  .unitedKingdom:after {
    transform: rotate(-90deg); /* rotation */
  }

  .locations__btn {
    @include peach-btn();
  }
}
