@use "../../styles/index" as *;

/* ABOUT SECTION LOCATIONS */

.locations {
  height: 50vh;
  display: flex;
  justify-content: space-between;

  .canada:after {
    transform: rotate(90deg); /* rotation */
  }
  .australia:after {
    transform: rotate(0deg); /* rotation */
  }
  .unitedKingdom:after {
    transform: rotate(-90deg); /* rotation */
  }

  .locations__btn {
    @include peach-btn();
  }
}
